<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="lvsEval">
                <expression>return !formattedMessage.contains("Connection reset by peer");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSSSSS}][%r][%t][%-5p][%logger{36}][%file:%line - %m]%n</pattern>
        </encoder>
    </appender>

    <appender name="service-bootstrap" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/service.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="lvsEval">
                <expression>return !formattedMessage.contains("Connection reset by peer");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/archived/service.%d{yyMMdd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSSSSS}][%r][%t][%-5p][%logger{36}][%file:%line - %m]%n</pattern>
        </encoder>
    </appender>
    <!-- 根据lvs的错误消息过滤-->
    <appender name="lvs-eval" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/service-lvs-reset-error.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="lvsEval">
                <expression>return formattedMessage.contains("Connection reset by peer");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/archived/service-lvs-reset-error.%d{yyMMdd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSSSSS}][%r][%t][%-5p][%logger{36}][%file:%line - %m]%n</pattern>
        </encoder>
    </appender>
    
    <appender name="asyn-lvs-eval" class="ch.qos.logback.classic.AsyncAppender">
		   <appender-ref ref="lvs-eval" />
	  </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="service-bootstrap"/>
        <appender-ref ref="lvs-eval"/>
    </root>
</configuration>